body {
    background-color: rgb(33, 33, 33);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    min-width: 320px;

    margin: 0;
    padding: 0;

    animation: fade-in 3s 0s forwards cubic-bezier(0, 1, .63, 1.01);
    opacity: 0;

    transition: background-color 1s;
}

*::selection {
    background: rgb(192, 192, 192);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.wrapper,
html,
body {
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
    justify-content: center;
}

.card-wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    grid-column: 1;
    grid-row: 1;

    z-index: 2;

    transition: transform 0s;
}

.card {
    background-color: rgb(131, 131, 131);
    position: relative;

    height: 45rem;
    width: 40rem;

    max-width: 90vw;

    box-shadow: 4px 4px 7px 3px rgba(85, 85, 85, 0.64);

    display: flex;

    z-index: 10;

    transform: scale();
}

h1 {
    font-family: poppins;
    font-weight: 600;
    font-size: 3em;

    line-height: 0em;
}

p {
    font-family: poppins;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1em;

}

a {
    font-family: poppins;
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;

    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
}

.desc {
    text-align: center;
    line-height: 1.3em;

    margin-bottom: -0.4em;
}

.title {
    font-weight: 600;
    line-height: 1em;
    text-decoration: underline;
}

.text {
    font-size: 1em;
    line-height: 1.2em;
}

.card .left {

    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: hidden;

}

.card .left .name {
    margin-top: 1.5em;
}

.card .left div {
    width: 90%;
    border: 2px black solid;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 0.5em;
}

.card .left div div {
    border: none;
    display: inline-block;
}

.card-gallery {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    border: none !important;

}

.card .left div img {
    height: 5em;
    width: 5em;

    padding: 0.4em;

    filter: grayscale() brightness(0.5);
}

svg {
    width: 2.51em;
    height: 2.51em;
    margin-bottom: 0.5em;
}

.playing {
    width: 85%;
    text-align: center;
}

.card .right {
    float: right;

    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: hidden;


}

.card .right .imgdiv {
    height: 20rem;
    width: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
}

.card .right .imgdiv img {
    height: 18rem;
    width: 18rem;

    filter: brightness(0.4);
}

.quote {
    width: 85%;
    text-align: center;

    font-family: Gunsan Script;
    font-size: 1.5em;
    line-height: 1.3em;

    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

.card .right div {
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 0.5em;
    text-align: center;
}

.card .right div div {
    border: none;
    display: inline-block;
}


.rain-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    transform: rotate(20deg) scale(1.4);
    transition: opacity 1s;

    z-index: 1;

    grid-column: 1;
    grid-row: 1;
}

i {
    position: absolute;
    height: 120px;
    border-radius: 0 0 999px 999px;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-120px);
    }

    100% {
        transform: translateY(calc(100vh + 120px));
    }
}

.song {
    line-height: 1em;

    margin-top: -0.5em;
    margin-bottom: 1em;
}

.spotifyembed {
    margin-bottom: -4.5em;
    filter: saturate(0);

    opacity: 0;
    animation: fade-in-opacity 0.5s 0.6s forwards;

}

@keyframes fade-in-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.disableraindiv {
    width: 15em;

    text-align: center;
    font-weight: 800;
    color: rgb(131, 131, 131);
    text-decoration: underline;

    user-select: none;

    left: 12.5em;
    bottom: -3em;
    position: absolute;

}

.gallery-hover {
    width: 40rem;
    height: 4em;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 20rem);

}

.gallery-wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    grid-column: 1;
    grid-row: 1;

    z-index: 2;

    transform: translateY(100vh);
    transition: transform 0s;

    pointer-events: none;
}

.card-hover {
    width: 40rem;
    height: 4em;
    position: absolute;
    top: 0;
    left: calc(50vw - 20rem);

    pointer-events: all;
}

.gcard {
    display: block;
    position: relative;

    height: 47rem;

    background-color: rgb(25, 25, 25);
    box-shadow: 4px 4px 7px 3px rgba(60, 60, 60, 0.64);

    pointer-events: all;
}

.gcard .gallery {
    width: 40rem;
    height: 40rem;

    max-width: inherit;

    overflow: hidden;
}

.page-wrapper {
    height: 40rem;
    width: 1000rem;

    display: flex;
    align-items: center;

    transition: transform 0.75s;
}

.gcard .gallery .page {
    width: 40rem;
    height: 40rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: inherit;


}

.gcard .gallery .page .image {
    width: 20rem;
    height: 20rem;

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gcard .gallery .page .image h2 {
    font-family: Off White;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: block;
    opacity: 0;

    transition: opacity 1s;

}

.gcard .menu {
    width: 40rem;
    height: calc(100% - 40rem);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gcard .menu p {
    font-family: poppins;
    font-weight: 600;
    font-size: 0.8em;
    color: rgb(197, 197, 197);

    line-height: 0;
    margin-top: 1.7rem;
}

.gcard .menu span {
    padding: 0.7em;

    font-family: poppins;
    font-weight: 600;
    font-size: 1.2em;
    color: white;

    user-select: none;

}

.back-btn:hover,
.next-btn:hover {
    background-color: rgb(76, 76, 76);
}

.back-btn:active,
.next-btn:active {
    background-color: rgb(60, 60, 60);
}

.crash-pop-up {
    position: absolute;
    width: 20rem;
    height: 15rem;

    right: 1rem;
    bottom: 1rem;

    border-radius: 2rem;

    background-color: rgb(71, 71, 71);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.crash-pop-up span {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    margin: 0.2rem;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    background-color: rgb(96, 96, 96);
    border-radius: 0.5rem;
}

.crash-btn-wrapper {
    margin-top: 2rem;
    width: 100%;
}